<?xml version="1.0" ?>

<config>
    <modules>
        <Klec_Rotate>
            <version>0.1.0</version>
        </Klec_Rotate>
    </modules>
    <frontend>
        <layout>
            <updates>
                <rotate>
                    <file>rotate.xml</file>
                </rotate>
            </updates>
        </layout>

    </frontend>
    <global>
        <blocks>
            <rotate>
                <class>Klec_Rotate_Block</class>
            </rotate>
        </blocks>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <klec_rotate_image_tab>
                        <type>model</type>
                        <class>Klec_Rotate_Model_Observer</class>
                        <method>addTab</method>
                    </klec_rotate_image_tab>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <adminhtml_catalog_product_edit_element_types>
                <observers>
                    <klec_rotate_image_tab>
                        <type>model</type>
                        <class>Klec_Rotate_Model_Observer</class>
                        <method>addAttributeType</method>
                    </klec_rotate_image_tab>
                </observers>
            </adminhtml_catalog_product_edit_element_types>
        </events>
        <models>
            <klec_rotate>
                <class>Klec_Rotate_Model</class>
            </klec_rotate>
        </models>
        <resources>
            <rotate_setup>
                <setup>
                    <module>Klec_Rotate</module>
                    <class>Klec_Rotate_Model_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rotate_setup>
        </resources>
    </global>
</config>